@model SzPEK.Models.Course

@{
    ViewData["Title"] = "Usuwanie kursu";
}

<h2>Usuń</h2>

<div>
    <h4>Kurs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingDate)
        </dd>
                <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="DeleteCourse">
        <input type="hidden" asp-for="CourseID" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>